<div class="container">
    <kendo-grid class="mt-3 w-100 h-auto" [data]="publishers"
            [pageSize]="10"
            [pageable]="true"
            [sortable]="true"
            [filterable]="false"
            [groupable]="false"
            [selectable]="true"
            [resizable]="true"
            [reorderable]="false"
            [height]="540">
  <ng-template kendoGridToolbarTemplate>
    <button class="k-button" (click)="addNewPublisher()">Add Publisher</button>
  </ng-template>
  <kendo-grid-column field="EditPublisher" title="Edit Publisher" [width]="50"
                    [minResizableWidth]="50" [filterable]="false">
    <ng-template kendoGridCellTemplate let-book>
        <i class="fa fa-edit fa-2x" (click)='editPublisher(publisher)'></i>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="Name" title="Name" [width]="100"
                    [minResizableWidth]="100">
  </kendo-grid-column>
  <kendo-grid-column field="Country" title="Country" width="100">
  </kendo-grid-column>
  <kendo-grid-column field="DeletePublisher" title="Delete Publisher" [width]="70"
                    [minResizableWidth]="70" [filterable]="false">
    <ng-template kendoGridCellTemplate let-book>
      <i class="fa fa-trash fa-2x" (click)='deletePublisher(publisher.Id)'></i>
    </ng-template>
  </kendo-grid-column>
</kendo-grid>
</div>

